@font-face {
	font-family: "Helvetica Neue Light";
	src: url("/fonts/HelveticaNeueLTStd-Lt.otf");
}

@font-face {
	font-family: "Helvetica Neue Thin";
	src: url("/fonts/HelveticaNeueLTStd-Th.otf");
}

@font-face {
	font-family: "Helvetica Neue Ult Light";
	src: url("/fonts/HelveticaNeueLTStd-UltLt.otf");
}

@font-face {
	font-family: "Helvetica Neue Medium";
	src: url("/fonts/HelveticaNeue-Medium.otf");
}

@font-face {
	font-family: "Myriad Pro";
	src: url("/fonts/Myriad Pro Regular.ttf");
}

body {
  font-family: "Helvetica Neue Ult Light";
  background-color: white;
  overflow-x:hidden;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: white !important;
	letter-spacing: 1.15px;
	font-weight: 1000;
}
input::-moz-placeholder { /* Firefox 19+ */
	color: white !important;
	letter-spacing: 1.15px;
	font-weight: 1000;
}
input:-ms-input-placeholder { /* IE 10+ */
	color: white !important;
	letter-spacing: 1.15px;
	font-weight: 1000;
}
input:-moz-placeholder { /* Firefox 18- */
	color: white !important;
	letter-spacing: 1.15px;
	font-weight: 1000;
}

.top {
	position: relative;
}

.background-image{
	background-image: url("/images/nars_holiday_bg.png");
	background-size: 100% 100%;
	background-position: top center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	z-index:-1;
	width:100%;
	height:100%;
}

.left-bottom{
	position: absolute;
	bottom:0;
	left:5%;
	height:52%;
	width: auto;
}

.wrapper {
	margin-left:4.7%;
	min-height: 98vh;
}
.tq-wrapper {
	margin-left:4.7%;
	min-height: 124vh;
	width: 820px;
}
.logo-img{
	height:auto;
	width: 726px;
	padding-top: 42px;
	margin-left: -42px;
}

.tq-logo-img{
	height:auto;
	width: 721px;
	padding-top: 44px;
	margin-left: -41px;
}
.mobile-padding {
	margin-left: -11px;
}
.tq-padding {
	margin-left: -10px;
}
h1 {
	font-family: "Helvetica Neue Ult Light";
	margin-top: 0;
	font-size: 7.34rem;
	margin-bottom: 0px;
	color: #fff;
}

.spiked {
	margin-top: 2px;
}

.studded {
	margin-top: -8px;
}
.tq-title {
	margin-top: 3px;
}
h3{
	font-family: "Helvetica Neue Thin";
	font-size: 3.33rem;
	color: #fff;
}

.subtitle {
	margin-top: -9px;
	letter-spacing: 0.7px;
}

.tq-subtitle {
	margin-top: -10px;
	font-size: 3.15rem;
	line-height: 1.15;
}
.slogan {
	margin-top: 42px;
	line-height: 1.15;
	letter-spacing: 0.4px;
}

.tq-slogan {
	margin-top: 35px;
	font-size: 3.15rem;
	line-height: 1.15;
}

.form-content-container {
	margin-top: 20px;
	margin-left: 3px;
}

/*.form-group{
	width: 467px !important;
}*/
.fix-width{
	width: 560px;
}

.email-input {
	background: transparent;
	border-radius:0;
	color:white;
	padding:10px 0 10px 18px;
	height:auto;
	text-transform:uppercase;
	font-size: 2rem;
	margin-top: 23px;
}
.email-input:focus {
	outline: #000;
	border-color: #ccd0d2 !important;
}

.submit-margin {
	margin-left: -10px;
}
.custom-submit-btn {
	font-size: 2rem;
	margin-top: 23px;
	padding: 10px 65px;
	color: #000;
	border-radius:0;
	text-transform:uppercase;
	width: 210px;
	letter-spacing: 1.15px;
	font-weight: 1000;
	height: auto;
}

.submit-wrapper {
	text-align: center;
    width: 100%;
    float: right;
}
.tnc {
	font-family: "Helvetica Neue Ult Light";
	width: 100%;
	margin: 180px auto 23px;
}

.tnc p {
	color: white;
	font-size:2.07rem;
	line-height: 1.25;
	letter-spacing: 0.75px;
	font-weight: 1000;
}
.tnc p .desktop-tnc-br {
	display: block;
}
.tq-message h3{
	margin-top:0;
	margin-bottom:40px;
	font-size:3.3rem;
}
.help-block{
	color: white !important;
	font-size: 100% !important;
}
#registration_form {
	margin-top: 1rem;
}

input, .custom-submit-btn {
	font-family: "Helvetica Neue Ult Light";
}

.end-text {
	color: white !important;
	margin-top: 30px;
}

.pptnc{
	font-family: "Helvetica Neue Ult Light";
	font-size:2.07rem;;
	line-height: 1.25;
	letter-spacing: 0.75px;
	color: #fff;
	font-weight: 1000;
}
.pptnc a{
	color: #fff;
	text-decoration: none;
	border-bottom: #fff 1px solid;
}
.pptnc a:hover{
	border:none;
}
.modal-content{
	font-family: "Helvetica Neue Light";
}
@media (min-width: 1600px) and (orientation: landscape){
	.pptnc{
		width: 720px;
	}
}

@media (min-width:1200px) and (max-width: 1600px) and (orientation:landscape){
	.background-image {
		background-size: cover;
	}
	.wrapper {
		width: 581px;
		margin-left:4.75%;
		min-height: 119vh;
	}
	.tq-wrapper {
		width: 635px;
		margin-left:4.75%;
		min-height: 126vh;
	}
	.logo-img {
		margin-left: -36px;
		width: 98%;
		padding-top: 34px;
	}
	.tq-logo-img {
		margin-left: -36px;
		width: 538px;
		padding-top: 34px;
	}
	.mobile-padding {
		margin-left: -17px;
		padding-left: 2px;
	}
	.tq-padding {
		margin-left: -13px;
		padding-top: 0;
		padding-left: 0;
	}
	h1{
		font-size:5.6rem;
	}
	.tq-title{
		font-size:5.3rem;
		letter-spacing: 0.55px;
		margin-top: 5px;
	}
	.spiked {
		margin-top: 0px;
		letter-spacing: -0.6px;
	}
	.studded {
		margin-top: -8px;
		letter-spacing: -0.6px;
	}
	h3{
		font-size:2.69rem;
	}
	.subtitle {
		margin-top: -6px;
		letter-spacing: -0.2px;
	}
	.slogan {
		margin-top: 31px;
		letter-spacing: -0.3px;
		line-height: 1;
	}
	.tq-subtitle {
		margin-top: -9px;
		font-size:2.4rem;
		letter-spacing: 0.24px;
	}
	.tq-slogan {
		margin-top: 27px;
		font-size: 2.4rem;
		letter-spacing: 0.23px;
	}
	.form-content-container {
		margin-top: 23px; 
	}
	.form-group{
		width: 365px !important;
	}
	.email-input {
		width:100%;
		padding: 7px 0 7px 14px;
    	font-size: 1.6rem;
	}
	.submit-margin {
		width: 191px !important;
		margin-left: -21px;
	}
	.custom-submit-btn ,.email-input{
		margin-top:10px;
	}
	.custom-submit-btn {
		padding: 7px 10px 7px 10px;
		width: 100%;
		font-size: 1.6rem;
	}
	
	.tnc {
		width: 100%;
		margin: 0 auto;
	}

	.tnc p {
		color: white;
		font-size:1.55rem;
		line-height: 1.25;
		letter-spacing: 0.55px;
	}
	.pptnc{
		font-size: 1.55rem;
	}
	.tnc p .desktop-tnc-br {
		display: block;
	}
	input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		letter-spacing: 0.4px;
		font-weight: 100;
	}
	input::-moz-placeholder { /* Firefox 19+ */
		letter-spacing: 0.4px;
		font-weight: 100;
	}
	input:-ms-input-placeholder { /* IE 10+ */
		letter-spacing: 0.4px;
		font-weight: 100;
	}
	input:-moz-placeholder { /* Firefox 18- */
		letter-spacing: 0.4px;
		font-weight: 100;
	}
}

@media (min-width:1024px) and (max-width: 1199px) {
	.background-image {
		background-size: cover;
	}
	.logo-img,.tq-logo-img {
		margin-left: -20px;
		width: 76%;
		padding-top: 44px;
	}
	.tq-logo-img {
		margin-left: -20px;
		width: 87%;
		padding-top: 75px;
	}
	.left-bottom{
		left:2.5%;
	}
	.wrapper {
		width: 67%;
		margin-left:4.75%;
		min-height: 90vh;
	}
	.tq-wrapper {
		width: 61%;
		margin-left:4.75%;
		min-height: 100vh;
	}
	.mobile-padding {
		margin-left: 0;
		padding-left: 0;
	}
	.tq-padding {
		margin-left: 0;
		padding-top: 0;
		padding-left: 0;
	}
	h1{
		font-size:4.5rem;
	}
	.spiked {
		margin-top: 1px;
	}

	.studded {
		margin-top: -4px;
	}
	.tq-title {
		font-size: 5.15rem !important;
	}
	h3{
		font-size:2.35rem;
	}
	.subtitle, .tq-subtitle {
		margin-top: 0px;
	}
	.subtitle {
		letter-spacing: 0px;
	}
	.slogan, .tq-slogan {
		margin-top: 25px;
	}
	.slogan {
		letter-spacing: 0px;
		line-height: 1;
	}
	.form-content-container {
		margin-top: 25px; 
	}
	.form-group{
		width: 305px !important;
	}
	.submit-margin {
		width: 133px !important;
		margin-left: -16px;
	}
	.email-input {
		width:100%;
	}
	.tnc {
		width: 90%;
		margin: 75px auto 44px;
	}

	.tq-tnc {
		width: 90%;
		margin: 75px auto 75px;
	}

	.tnc p, .tq-tnc p {
		color: white;
		font-size:1.2rem;
		line-height: 1.25;
		letter-spacing: 0;
	}
	.pptnc{
		font-size: 1.2rem;
	}
	.tnc p span, .tq-tnc p span {
		display: inline;
	}
	.custom-submit-btn ,.email-input{
		margin-top:5px;
		font-size:1.5rem;
	}
	.email-input{
		padding:8px;
	}
	.custom-submit-btn {
		width: 133px;
		padding:8px 8px;
	}
}

@media (min-width:768px) and (max-width: 1023px) {
	.background-image{
		background-image:url("/images/nars_holiday_bg_ipad.png");
		background-size: cover;
		height: 100%;
		width: 100%;
	}
	.wrapper {
		width: 67%;
		margin-left:4.75%;
		min-height:95vh;
	}
	.tq-wrapper {
		width: 70%;
		margin-left:4.75%;
		min-height:100vh;
	}
	.logo-img {
		margin-left: -16px;
		width: 92%;
		padding-top: 50px;
	}
	.tq-logo-img {
		margin-left: -16px;
		width: 445px;
		padding-top: 53px;
	}
	
	.mobile-padding {
		margin-left: 0;
		padding-left: 0;
	}
	.tq-padding {
		margin-left: 0;
		padding-top: 0;
		padding-left: 5px;
	}
	h1{
		font-size:4.5rem;
	}
	.tq-title {
		font-size: 4.4rem !important;
		letter-spacing: 0.25px;
		margin-top: 1px;
	}
	.spiked {
		margin-top: -2.2px;
	}
	.studded {
		margin-top: -5px;
	}
	h3{
		font-size:2.1rem;
	}
	.subtitle {
		letter-spacing: 0.8px;
		margin-top: -4px;
	}
	.slogan{
		letter-spacing: 0.65px;
		line-height: 1.2;
		margin-top: 15px;
	}
	.tq-slogan {
		margin-top: 22px;
	}
	.tq-subtitle{
		margin-top: -7px;
	}
	.tq-subtitle, .tq-slogan {
		font-size: 2rem !important;
		letter-spacing: 0.02px;
	}
	.form-content-container {
		margin-top: 17px;
    	margin-left: 3px;
	}
	.form-group{
		width: 305px !important;
	}
	.submit-margin {
		width: 160px !important;
		margin-left: -23px;
	}
	.email-input {
		width:271px;
		padding:5px 0 5px 8px;
	}
	.custom-submit-btn ,.email-input{
		margin-top:5px;
		font-size:1.3rem;
	}
	.custom-submit-btn {
		width: 100%;
		padding:5px;
	}
	
	.tnc {
		width: 91%;
		margin: 0 auto;
	}
	.pptnc{
		font-size: 1.1rem;
	}

	.tnc p {
		color: white;
		font-size:1.1rem;
		line-height: 1.1;
		letter-spacing: 0.4px;
	}
	.tnc p .desktop-tnc-br {
		display: inline;
	}
	.tnc p .ipad-tnc-br {
		display: block;
	}
	
	
	.tq-message h3{
		margin-bottom:30px;
		font-size:2rem;
	}
}

@media (max-width:767px){
	.pptnc{
		font-size:0.9rem;
		width:300px;
	}
	.container-fluid {
		min-height: 100vh;
	}
	.background-image{
		background-image:url("/images/nars_holiday_bg_mobile.png");
		background-size: cover;
		width: 100%;
		height: 100%;
	}
	.wrapper{
		margin:0 auto;
		width:100%;
		min-height: 90vh;
		padding: 0;
	}
	.tq-wrapper{
		margin:0 auto;
		width:100%;
		min-height: 90vh;
		padding: 0;
	}
	.logo-img{
		width: 97%;
		padding-top: 19.5px;
		padding-right: 15px;
		padding-left: 15px;
		margin-left: 0px;
	}
	.tq-logo-img {
		width: 96%;
		padding-top: 27px;
		padding-right: 15px;
		padding-left: 15px;
		margin-left: 0px;
	}
	.mobile-padding {
		margin-left: 0;
		padding-left: 25px;
	}
	.tq-padding {
		margin-left: 0;
		padding-top: 16px;
		padding-left: 20px;
		width: 94%;
	}
	h1{
		font-size:2.8rem;
	}
	.spiked {
		margin-top:-0.75px;
		letter-spacing: 0.1px;
	}

	.studded {
		margin-top: -2px;
		letter-spacing: 0.1px;
	}
	.tq-title {
		font-size: 2.55rem !important;
		margin-top: 5px;
	}
	h3{
		font-size:1.5rem;
	}
	.subtitle {
		margin-top: -3.25px;
		letter-spacing: 0.2px;
	}
	.tq-subtitle {
		margin-top: -6px;
		margin-bottom: 25px;
		width: 99%;
		line-height: 0.95;
	}
	.subtitle span{
		display: block;
	}
	.slogan {
		margin-top:13px;
		letter-spacing: 0.2px;
		line-height: 1.1;
	}
	.tq-slogan {
		margin-top:-13px;
		line-height: 1;
	}
	.tq-subtitle, .tq-slogan {
		font-size: 1.35rem !important;
	}
	.form-content-container {
		margin-top: 21px;
	}
	.mobile-row {
		width: 100%;
	}
	.form-group{
		width: 201px !important;
	}
	.submit-margin {
		width: 84px !important;
		margin-top: 0px;
		margin-left: -22px;
	}
	.email-input{
		width: 100%;
		margin-top: 0;
		padding: 4px 3px 3px;
		font-size: 0.85rem;
	}
	.custom-submit-btn{		
		margin-top: 0px;
		padding: 4px  3px 3px;
		width: 83px;
		font-size: 0.85rem;
		letter-spacing: 0.8px;
	}
	.tnc {
		width: 289px;
		margin: 0px auto 0px;
	}

	.tnc p {
		color: white;
		font-size:0.9rem;
		line-height: 1.25;
		letter-spacing: 0.24px;
		font-weight: 100;
		line-height: 1;
	}
	.tnc p .desktop-tnc-br {
		display: inline;
	}

	.tnc p .mobile-tnc-br {
		display: block;
	}
	.tnc p .mobile-tnc-br-2 {
		display: block;	
	}
	.tq-message h3{
		margin-bottom:20px;
		font-size:1.5rem;
	}
	.help-block{
		color: white !important;
		font-size: 80% !important;
	}
	input, .tnc {
		font-family: "Helvetica Neue Ult Light";
	}
	input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		letter-spacing: 0.4px;
		font-weight: 100;
	}
	input::-moz-placeholder { /* Firefox 19+ */
		letter-spacing: 0.4px;
		font-weight: 100;
	}
	input:-ms-input-placeholder { /* IE 10+ */
		letter-spacing: 0.4px;
		font-weight: 100;
	}
	input:-moz-placeholder { /* Firefox 18- */
		letter-spacing: 0.4px;
		font-weight: 100;
	}
}