@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot');
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/HelveticaNeueLTStd-UltLt.eot');
  src: url('../fonts/HelveticaNeueLTStd-UltLt.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-UltLt.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-UltLt.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-UltLt.svg#HelveticaNeueLTStd-UltLt') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/HelveticaNeueLTStd-Th.eot');
  src: url('../fonts/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Th.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Th.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Th.svg#HelveticaNeueLTStd-Th') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/HelveticaNeueLTStd-Lt.eot');
  src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueW01';
  src: url('../fonts/01.eot');
  src: url('../fonts/01.eot') format('eot'), url('../fonts/01.woff2') format('woff2'), url('../fonts/01.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueW02';
  src: url('../fonts/02.eot');
  src: url('../fonts/02.eot') format('eot'), url('../fonts/02.woff2') format('woff2'), url('../fonts/02.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueW03';
  src: url('../fonts/03.eot');
  src: url('../fonts/03.eot') format('eot'), url('../fonts/03.woff2') format('woff2'), url('../fonts/03.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  	font-family: "HelveticaNeueW01","Helvetica Neue Ult Light";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
    color: #fff;
    background-color: #000;
}

.body-section{
	line-height: 1;
}

/**{
	border : 1px solid red;
}*/

.custom-container{
	max-width : 1500px !important;
	margin: 0 auto;
}

@media (min-width: 1200px){
	.custom-container {
	    width: 1500px;
	}
}

@media (min-width: 768px){
	.custom-container {
	    width: 100%;
	}
}
	


.header-section{
	background-color : black;
    position: relative;
    padding: 0 10px 0;
}

/*
.footer-section{
	padding: 20px 15px 40px;
	font-size: 1em;
}

@media (min-width: 768px){
	.footer-section {
	    text-align: left;
	    border-top: 0;
	    padding: 40px 15px 40px;
	}	
}


@media screen and (max-width: 540px){
	.footer-section{
		font-size :1.2em;
	}
}
*/

@media screen and (max-width: 767px){
	.header-logo-img{
		display: block;
	    height: 50px;
	    max-width: 118px;
	}
}





.nav-link{
	padding : 0;
	padding-top: 20px;
	padding-left: 120px;
}
@media screen and (max-width: 1024px){
	.nav-link{
		padding-left: 10px;
	}
}

@media screen and (max-width: 576px){
	.nav-link{
		padding-left: 5px;
	}
}


.empowered-title,.supernatural-title{
	color : white;
	text-transform: uppercase;
}
.sp19-title {
	color: white;
}

.empowered-desc, .supernatural-desc{
	position: absolute;
    top: 2%;
    right: 6%;
    padding: 0;
    width: 52%;
    text-align: right;
    color : white;
}

.empowered-desc{
    top:7%;
}

.sp19-desc, .sp19-mobile-desc {
	text-align: center;
}
.sp19-desc {
	/*padding-top: 50px;
	padding-bottom: 50px;*/
	padding: 50px;
}
.sp19-mobile-desc {
	/*padding-top: 30px;
	padding-bottom: 30px;*/
	padding: 30px;
}
.sp19-desc .sp19-desc-content {
	padding-top: 50px;
	font-family: "HelveticaNeueW01","Helvetica Neue Ult Light" !important;
}
.sp19-mobile-desc .sp19-desc-content {
	padding-top: 30px;
	font-family: "HelveticaNeueW01","Helvetica Neue Ult Light" !important;
}

@media screen and (max-width: 768px){
	.empowered-desc, .supernatural-desc{
	    right: 2%;
	}

	.supernatural-desc{
	    top: 3%;
	}
	
}

.empowered-mobile-desc,.supernatural-mobile-desc{
	color: #fff;
    text-align: center;
    padding: 30px;
    background-color: black;
}


.empowered-title,.supernatural-title,.get-match-title{
	font-size :3.9em;
	text-transform: uppercase;
	line-height: 0.9;
}
.sp19-title {
	font-size :3em;
	line-height: 0.9;
}

.supernatural-title{
	font-size :3.6em;
	text-transform: uppercase;
	padding-top: 50px;
}

/*@media screen and (max-width: 1024px){
	.empowered-title,.supernatural-title,.get-match-title{
		font-size : 2.9em;
	}
}*/



@media screen and (max-width: 1024px){
	.empowered-title,.supernatural-title,.get-match-title,.sp-19-title{
		font-size : 2.3em;
	}
	.supernatural-title{
		padding-top: 30px;
	}
}

@media screen and (max-width: 768px){
	.empowered-title,.supernatural-title,.get-match-title{
		font-size : 2.3em;
	}
	.supernatural-title{
		padding-top: 15px;
	}
	.sp19-title { font-size: 1.7em; }
}

@media screen and (max-width: 576px){
	.empowered-title,.supernatural-title{
		font-size :2.2em;
		line-height: 0.9;
		margin: 20px 0 5px;
	}
	.supernatural-title{
		padding-top: 0;
	}
	.sp19-title {
		font-size: 1.1em;
		line-height: 0.9;
	}
}

	
.empowered-desc-content,.supernatural-desc-content,.sp19-desc-content{
	font-size : 1.36em;
	font-family: HelveticaNeueW02,Helvetica,Arial,"Lucida Grande",sans-serif;
}

@media screen and (max-width: 1024px){
	.empowered-desc-content,.supernatural-desc-content,.sp19-desc-content{
		font-size : 1em;
		font-family: HelveticaNeueW02,Helvetica,Arial,"Lucida Grande",sans-serif;
	}
}

.get-match-content{
	font-size : 1.2em;
	font-family: HelveticaNeueW01,Helvetica,Arial,"Lucida Grande",sans-serif;
}
@media screen and (max-width: 768px){
	.empowered-desc-content,.supernatural-desc-content,.get-match-content{
		font-size : 1em;
	}
	.sp19-desc-content {
		font-size: 0.8em;
	}
}
@media screen and (max-width: 576px){
	.sp19-desc-content {
		font-size: 0.7em;
	}
}
.LogoText {
    letter-spacing: -0.18em;
    font-weight: 100;
    font-size: 1em;
    text-transform: uppercase;
    padding-right: 10px;
}

@media screen and (max-width: 767px){
	.LogoText {
	    font-size: 1.3em;
	}
}

.submit-section {
    padding: 30px;
    background: #fff;
    color : black;
    margin : 0 auto;

}

.row:before,.row:after {
    display: inline-block;
}



.submit-content,.rules-container{
 	max-width :790px !important;
 	width: 90%;
 	margin : 0 auto;
}
.form-content-center{
	justify-content: center;
}
@media screen and (max-width: 576px){
	.rules-container{
		width: 100%;
	}
}
@media screen and (min-width:1200px){
	.rules-container{
		max-width :992px !important;
	}
}
@media screen and (min-width:1600px){
	.rules-container{
		max-width :1500px !important;
	}
	.d-xxl-block{
		display: block!important;
	}
}
/*@media screen and (min-width:960px){
	.rules-container{
		max-width :720px !important;
	}
}*/

/*@media screen and (min-width:1200px){
	.submit-content{
	 	max-width :1500px !important;
	}
}*/

.submit-title{
	text-transform: uppercase;
	margin-bottom: 15px;
	font-family: HelveticaNeueW01-45Ligh,Helvetica,Arial,"Lucida Grande",sans-serif;
	/*font-size: 2.5rem;*/
    padding : 0 5px;
    letter-spacing: -1px;
}

@media screen and (max-width:540px){
	.submit-title{
		font-size: 1.5rem;
	}
}

@media screen and (min-width:560px) and (max-width:568px){
	.terms-section{
		padding-top:20px;
	}
}

/*.email-section {
	padding-left : 25px;
}*/

@media screen and (max-width:540px){
	
	.email-section {
		padding-left : 0 !important;
		padding-right : 0 !important;
	}

	.tnc-row{
		margin-left : -15px !important;
		margin-right : -15px !important;
	}
}



.emailfield{
	max-height: 40px;
    width: 100%;
    margin-left: 0;
    border : 1px solid black;
    padding: 12px;
}


@media screen and (max-width:540px){
	.btn-redeem-section {
	    text-align: center;
	}
}

.btn-redeem{
	max-height: 40px;
    height: 40px;
    font-size: 15px;
    border-radius : 0;
    width: 100%;
    text-transform: uppercase;
	letter-spacing: 2px;
}

.btn-redeem:hover{color:white;}


@media screen and (max-width:540px){
	.tnc-section{
		padding-top : 15px;
		text-align: left;
	}
}

.modal-backdrop.show {
    opacity: .75;
}

.modal-header{
	border-bottom : none;
}

.modal-content{
	/*background-image : url('../images/thank-you-bg.jpg');*/
	color: black;
}

#thankyouModal .modal-content{
	/*background-image : url('../images/thank-you-bg.jpg');*/
	background-color:black;
	color: white;
}

.thank-you-content{
	padding: 50px 0;
}

.thank-you-content-desc{
    font-size: 1.75rem;
}

.thank-you-title{
	text-transform: uppercase;
	font-size : 4rem;
	margin-top: 11px;
}

.close{
	opacity: 1;
	color : black;
}

.modal-header .close {
     margin-top: -10px; 
}

.tnc-ol li{
	padding-top : 5px;
}

a{
	text-decoration: underline;
	color :black;
}

/*.rules-section{
    padding-top: 40px;
}*/
.tnc-content{
	font-family: "Helvetica Neue LT W01_55 Roman",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 1.35rem;
    line-height: 15px;
    font-weight : 300 !important;
    text-align: left;
    padding-left: 15px !important;
    /*margin-left: -20px;*/
    margin-top: 3px;
}
.checkbox-section{
	padding-right : 0;
	max-width :40px;
}
.checkbox-section input{
	margin-left: 25px;
}

@media screen and (max-width:540px){
	.rules-section{
		font-size: 0.75rem;
	    padding-top: 20px;
	}
	.checkbox-section input{
		margin-left: 0;
	}
	.tnc-content{
		font-size: 1.05rem;
	    line-height: 12px;
	    margin-left: 0px;
	    padding: 0!important;
	}
} 



.rules-desktop{
	color:black;
	/*padding-bottom: 15px;*/
	background-color: white;
	margin-top : -1px;
}

.desktop-rules,.mobile-rules{
	font-family: "Helvetica Neue LT W01_55 Roman",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 1.25rem;
    line-height: 15px;
}

@media screen and (max-width:540px){
	.mobile-rules{
		font-size: 0.85rem;
		line-height: 10px;
		color : #676767;
	}
}

/*@media screen and (min-width:1200px){
	.desktop-rules{
		text-indent: 50px;
	}
}*/

.alert-danger{
	text-align: left;
	background-color : transparent;
	font-size: 1.2rem;
	font-family: "Helvetica Neue LT W01_55 Roman",Helvetica,Arial,"Lucida Grande",sans-serif;
}

@media screen and (min-width:768px){
	.terms-error{
		margin-left: 20px;
	}
}

.spinner-img{
	width: 40px;
    height: 40px;
    justify-content: center;
    margin-top: -5px;
}

.pnc-ol li{
	padding : 10px;
	word-break: break-word;
}

.lead{
	font-family: "Helvetica Neue LT W01_55 Roman",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.promo-text{
	color : #676767;
	font-size : 1.4rem;
	font-weight: bold;
}

@media screen and (max-width:768px){
	.promo-text{
		font-size : 1rem;
	}

}


.promo-text-container{
	/*padding : 15px 130px;*/
	max-width: 1030px;
    margin: 0 auto;
    padding : 15px;
}

.bg-red {
	background-color: #B71D1D;
}


/**

.tnc-content{
	font-family: "Helvetica Neue LT W01_55 Roman",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 13px;
    line-height: 14px;
    font-weight : 300 !important;
}

.desktop-footer{
	text-align: left;
    border-top: 0;
    padding: 40px 15px 40px;
    background-color: #000;
    color: #fff;
    font-size: 1em;
}

.footer-container{
	display: flex;
    justify-content: space-between;
}

.social-container{
	line-height: 1;
    margin-bottom: 30px;
    white-space: nowrap;
}

.social-icon-list{
	display: inline-block;
    margin-top: 0;
    height: 20px;
}

.social-icon:first-child{
	margin-left: 30px;
}

.social-icon{
	position: relative;
    margin-left: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.social-icon-mobile{
	padding : 10px 0;
}

.icon-fb {
  background-image: url("../images/fb-icon.png"); }

.icon-wechat {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23fff' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M21.502 19.525c1.524-1.105 2.498-2.738 2.498-4.554 0-3.326-3.237-6.023-7.229-6.023s-7.229 2.697-7.229 6.023c0 3.327 3.237 6.024 7.229 6.024.825 0 1.621-.117 2.36-.33l.212-.032c.139 0 .265.043.384.111l1.583.914.139.045c.133 0 .241-.108.241-.241l-.039-.176-.326-1.215-.025-.154c0-.162.08-.305.202-.392zm-12.827-17.228c-4.791 0-8.675 3.236-8.675 7.229 0 2.178 1.168 4.139 2.997 5.464.147.104.243.276.243.471l-.03.184-.391 1.458-.047.211c0 .16.13.29.289.29l.168-.054 1.899-1.097c.142-.082.293-.133.46-.133l.255.038c.886.255 1.842.397 2.832.397l.476-.012c-.188-.564-.291-1.158-.291-1.771 0-3.641 3.542-6.593 7.911-6.593l.471.012c-.653-3.453-4.24-6.094-8.567-6.094zm5.686 11.711c-.532 0-.963-.432-.963-.964 0-.533.431-.964.963-.964.533 0 .964.431.964.964 0 .532-.431.964-.964.964zm4.82 0c-.533 0-.964-.432-.964-.964 0-.533.431-.964.964-.964.532 0 .963.431.963.964 0 .532-.431.964-.963.964zm-13.398-5.639c-.639 0-1.156-.518-1.156-1.156 0-.639.517-1.157 1.156-1.157.639 0 1.157.518 1.157 1.157 0 .638-.518 1.156-1.157 1.156zm5.783 0c-.639 0-1.156-.518-1.156-1.156 0-.639.517-1.157 1.156-1.157.639 0 1.157.518 1.157 1.157 0 .638-.518 1.156-1.157 1.156z'/%3E%3C/svg%3E"); }

.footer-tnc-section{
	width: 100%;
    text-align: right;
    white-space: nowrap;
}

.footer-link,.footer-copyright{
	display: inline-block;
    vertical-align: middle;
    font-size: 0.8125em;
    margin-bottom: 0;
    /*margin-right: 20px;* /
}

.mobile-footer-link, .mobile-footer-copyright{
	font-size: 0.8125em;
}

.footer-link a{
	display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: opacity 0.3s;
}

@media screen and (max-width:540px){
	.footer-link a{
	    margin-bottom : 10px;
	}
}

.mobile-footer-link{
	margin-bottom: 10px;
}

.btn-match-ul{
	list-style: none;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 540px){
	.btn-match-ul{
		display: block;
		justify-content: center;
	}
}

.btn-match-li{
	padding: 0 20px;
}

@media screen and (max-width: 768px){
	.btn-match-li{
		padding : 0 10px;
	}
}


.btn-match{
	color : black;
	max-height: 40px;
    height: 25px;
    font-size: 15px;
    border-radius: 0;
    font-weight : 900;
    font-family: HelveticaNeueW03,Helvetica,Arial,"Lucida Grande",sans-serif;
    text-transform: uppercase;
    padding : 0 50px;
}

@media screen and (max-width: 768px){
	.btn-match{
		padding : 0 20px;
	}
}

.btn-light{
	background-color: #fbcfb4;
}

.btn-medium{
	background-color: #f5c99c;
}

.btn-medium-dark{
	background-color: #a46228;
}

.btn-match-dark{
	background-color: #8a4e2c;
}

.mobile-btn-match li{
	padding : 10px;
}

.mobile-btn-match .btn-match{
	max-height : 50px;
	height : 50px;
	min-width: 120px;
	font-size: 0.8125em;
}
**/